*.bak

/autom4te.cache
/aclocal.m4

.vs
.vscode

/data/**/*

# Explicitly include the locale files as they relate to UI changes.
!/data/*.mse-locale/
!/data/*.mse-locale/**/*

/build_*
/build
/out
/enc_temp_folder
/resource/RC*

/resource/expected_locale_keys
