*.bak

/autom4te.cache
/aclocal.m4

.vs
.vscode

/data/**/*

!/data/en.mse-locale/
!/data/en.mse-locale/**/*
!/data/magic.mse-game/
!/data/magic.mse-game/**/*
!/data/magic-blends.mse-include/
!/data/magic-blends.mse-include/**/*

/build_*
/build
/out
/enc_temp_folder
/resource/RC*

/resource/expected_locale_keys
